<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>admin</title>
</head>
<body>
	<h1>	message from {{question[name]}} in {{question[location]}}</h1>

	<p> {{question[question]}}</p>
<div>	
<form method="	POST" action="/Answers">
<input type="text" name="response" placeholder="enter response ">
<input type="checkbox" name="popular"> add question to popular questions
<input type="submit" placeholder="Send">
</form>
</div>	
<div>	
<a href="signout">Signout</a>
</div>
</body>
</html>